#contact-form-editor #payjpforkintone-panel.contact-form-editor-panel h2 {
	border-bottom: 1px solid #000;
	margin-bottom: 25px;
	padding-bottom: 10px;
}

#payjpforkintone-panel #payjpforkintone-disabled-blocked.field-wrap {
	margin-bottom: 40px;
}

#payjpforkintone-panel .field-wrap {
	margin-bottom: 10px;
}

#payjpforkintone-panel .setting-kintone-block {
	margin-top: 50px;
}

#payjpforkintone-panel .shortcode {
	margin-bottom: 10px;
}

#payjpforkintone-panel .warning-message {
	margin-bottom: 10px;
	background: #fff;
	padding: 10px 0px 10px 10px;
	color: red;
}
